@import '@eleanes/biscuits/css/';

@layer base {
	:root {
		font-family: 'Geist Mono Variable', monospace;

		/* Border Radius */
		--border-radius: 0.6423466667em;

		/* Font Size */
		--font-size: 15px;

		/* Spacing */
		--spacing: 0.25rem;
	}
}

@theme inline {
	/* Border Radius */
	--radius: var(--border-radius);

	/* Spacing */
	--spacing: var(--spacing);
}

@layer base {
	body {
		@apply bg-gray-1 text-gray-12;
	}

	html {
		font-size: var(--font-size);
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-5, currentColor);
	}
}
