@import '@eleanes/biscuits/css/';

@layer base {
	:root {
		font-family: 'Geist Mono Variable', monospace;

		/* Border Radius */
		--border-radius: 0.6423466667em;

		/* Font Size */
		--font-size: 15px;

		/* Spacing */
		--spacing: 0.25rem;
	}
}

@theme inline {
	/* Border Radius */
	--radius: var(--border-radius);

	/* Spacing */
	--spacing: var(--spacing);
}

@layer base {
	body {
		@apply bg-gray-2 text-gray-10;
	}

	html {
		font-size: var(--font-size);
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-10, currentColor);
	}
}

@utility timing-spring {
	transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	transition-duration: 150ms;
}

@theme inline {
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(-20px);
		}
	}
	--animate-bounce: bounce 333ms cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}
